<h2>Information about Post Import, follow the link:</h2>

<p>
    <a href="{{ absolute_url(path('user_post_post_import_token', { 'token': token })) }}">{{ absolute_url(path('user_post_post_import_token', { 'token': token })) }}</a>
</p>
