<h2>Reset Password, follow the link:</h2>

<p>
    <a href="{{ absolute_url(path('user_token_confirm_user_password_reset_confirm', { 'token': token })) }}">{{ absolute_url(path('user_token_confirm_user_password_reset_confirm', { 'token': token })) }}</a>
</p>
