{% extends 'base.html.twig' %}

{% block title %}Hello World{% endblock %}

{% block body %}

    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <h1>{{ hello }}</h1>
    </div>

{% endblock %}
