{% extends 'base.html.twig' %}

{% block title %}
    {{ 'stripe_title_cancel'|trans }}
{% endblock %}


{% block body %}
    <div class="container">

        <section>
            <p>Picked the wrong subscription? Shop around then come back to pay!</p>
        </section>
    </div>
{% endblock %}
